@page
@model RestoStockWeb.Pages.Platos.IndexModel
@{
}
@{
	ViewData["Title"] = "Index Ingredientes";
}

<h1>Index Platos</h1>
<p>

	<a asp-page="Create" class="btn btn-success">Create New</a>`

</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Plato[0].IdPlato)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Plato[0].Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Plato[0].PrecioVenta)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Plato[0].Descripción)
			</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Plato)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.IdPlato)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PrecioVenta)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Descripción)
				</td>
				<td>
					<a asp-page="./Edit" asp-route-id="@item.IdPlato" class="btn btn-warning">Edit</a>
					<a asp-page="./Delete" asp-route-id="@item.IdPlato" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
