@page
@model RestoStockWeb.Pages.Proveedores.ProIndexModel
@{
    ViewData["Title"] = "Index Proveedores";
}

<h1>Index Proveedores</h1>
<p>
    <a asp-page="ProCreate" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.proveedor[0].NombreEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proveedor[0].Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proveedor[0].Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proveedor[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proveedor[0].Direccion)
            </th>
           

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.proveedor)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEmpresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
              
                <td>
                    <a asp-page="./ProDelete" asp-route-id="@item.IdProveedor" class="btn btn-danger">Delete</a>
                    <a asp-page="./ProEdit" asp-route-id="@item.IdProveedor" class="btn btn-warning">Edit</a>
                </td>

            </tr>
        }
    </tbody>
</table>